.photobox {
    height: 500px;
    background: #eee;
    perspective: 500px;
}

.box {
    width: 200px;
    position: absolute;
    left: 10%px;
    top: 10%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
    transform-style: preserve-3d;
}

.box div{
    width: 200px;
    height: 200px;
    position: absolute;
    text-align: center;
    line-height: 200px;
    font-size: 30px;
}
